﻿@{
    ViewBag.Title = "Index";
}

<h2>GetSwift Code Test</h2>

<div ng-controller="PeopleListCtrl">
    <div>
        <input type="text" ng-model="addName" placeholder="Name" value="" /><br />
        <input type="text" ng-model="addPhone" placeholder="Phone" value="" /><br />
        <input type="text" ng-model="addAddress" placeholder="Address" value="" /><br />
        <button ng-click="insertPerson();">Add person</button>
    </div>

    @*<div>
            <h3>Saved people</h3>
            <ul>
                <li>[BOOK WITH GETSWIFT BUTTON] 123 Some address st, Melbourne, Australia </li>
                <li>[BOOK WITH GETSWIFT BUTTON] 123 Another address st, New York</li>
                <li>[BOOK WITH GETSWIFT BUTTON] 668 Joel St, Brisbane, Australia</li>
            </ul>

        </div>*@

    <div>
        <h3>Saved people</h3>
        <ul>
            <li ng-repeat="person in people"><a href="" ng-click="callSwift(person.Address)">Send</a> {{person.Address}}</li>
        </ul>

    </div>

    <div style="background-color:#eee;padding:20px;">
        {{message}}
    </div>
</div>